
h1,div.img{
    text-align: center;
}
a{
    text-decoration: none;
}
div a{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;

}
div.a{
    text-align: center;
}
div#a{
    text-align: center;

}

#bottomdiv{
    margin: 0 auto;
    text-align: center;
}
.jiangzhuang {
    width: 500px;
    display: inline;
    margin: 50px;
}
div img{
    display: inline;
}

div a:hover{
    background-color: blueviolet;
}
div a:active{
    background-color: #00008e;
}
#xiangmu{
    color: blue;
    background-color: white;
}



